@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
margin: 0;
padding: 0;
}

body, html {
    background-color: black;
    color: whitesmoke;
    display: grid;
    min-height: 100%;
    font-family: Staatliches;
    outline: 1px solid red;
    overflow: auto;
}

div {
    margin: auto;
    text-align: center;
}

img {
    height: auto;
    max-height: 500px;
    width: 75%;
    border: .5rem double whitesmoke;
}