@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


:root {
    --light: #F3F3F3;
    --dark: #141414
}

* {
margin: 0;
padding: 0;
}

body, html {
    background-color: var(--light) #141414;
    color: var(--dark);
    display: grid;
    min-height: 100%;
    font-family: Staatliches;
    /* outline: 1px solid red; */
    overflow: auto;
}

div {
    margin: auto;
    text-align: center;
}

a {
    /* color: #119a5e; */
    color: var(--primary);
    /* text-decoration: double underline; */
    text-decoration: none;
}

img {
    height: auto;
    max-height: 500px;
    width: 75%;
    border: .5rem double;
    border-color: var(--primary);
}


.links {
    margin: 1rem 0 1rem 0;
}
.links a {
    margin: 0 1.5rem 0 1.5rem;
    transition: ease .75s;
}

.links a:hover {
    color: rgb(199, 131, 14);
}