@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face {
    font-family: 'kontrast';
    src: url('/static/font/KontrastGrotesk/KontrastGroteskDEMO-Black.otf');
}

:root {
    --red: rgb(206, 0, 12);
    --white: #F3F3F3;
    --dark: #141414;
    --brown: #3f2212;
    --gray: #ced1d3;
}

* {
margin: 0;
padding: 0;
}

body, html {
    background-color: var(--red);
    color: var(--white);
    display: grid;
    min-height: 100%;
    font-family: Staatliches, kontrast;
    text-transform: uppercase;
    /* outline: 1px solid red; */
    overflow: auto;
}

div {
    margin: auto;
    text-align: center;
}

a {
    /* color: #119a5e; */
    color: var(--white);
    /* text-decoration: double underline; */
    text-decoration: none;
    transition: ease .4s;
} a:hover {
    color: var(--dark);
}

img {
    height: auto;
    max-height: 500px;
    width: 75%;
    border: .5rem double;
    border-color: var(--primary);
}

iframe {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.links {
    margin: 1rem 0 1rem 0;
}

.nav {
    position: fixed;
    top: 0px;
    left: 20px;
} .nav * {
    outline: none !important;
}

.home {
    outline: 1px solid green;
    font-size: 2rem;
} .arrow {
    font-size: 3rem;
    outline: 1px solid green;
}